body {
  min-height: 1000px;
}

body section {
  padding-top: 2rem;
  background-color: #3e4346;
}

section .img {
  padding-top: 1rem;
}

section .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

section .nav-list li {
  list-style-type: none;
}

section .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: white !important;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

section .nav-list li:hover a {
  background-color: #676c71;
  color: white;
}
.card:hover {
  transform: translateY(10px);
}

main.hidden {
  display: none;
}
